<app-fingerprint-view [fingerprint]="fingerprint"></app-fingerprint-view>
<div #container class="row"></div>
<button class="btn btn-primary" (click)="handleFFT()" [disabled]="!fingerprintLoaded">FFT</button>
<button class="btn btn-primary" (click)="handleOtsu()" [disabled]="true">Otsu</button>
<button class="btn btn-primary" (click)="handleAdaptiveThreshold()" [disabled]="!fingerprintLoaded">Adaptive threshold</button>
<button class="btn btn-primary" (click)="handleCanny()" [disabled]="!fingerprintLoaded">Canny</button>
