<div class="row">
  <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3" style="margin-top: 16px;">
    <div class="fingerprint-upload-box">
      <ng2-file-input (onAction)="handleFileChange($event)"
                      [drop-text]="'Sem vložte soubor'"
                      [browse-text]="'Prohlížet'"
                      [remove-text]="'Odebrat'"
                      [removable]="true"
                      [multiple]="true"
                      [show-previews]="false"></ng2-file-input>
    </div>
  </div>
</div>

<div class="row">
  <div class="col" *ngFor="let fingerprint of fingerprints">
    <app-fingerprint-view [fingerprint]="fingerprint"></app-fingerprint-view>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" (click)="handleUpload()" [disabled]="fingerprints.length == 0">
      Nahrát...
    </button>
  </div>
</div>
