<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="showNavbar = !showNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="dashboard">Otisky prstů</a>

  <div class="collapse navbar-collapse" [class.show]="showNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="upload" routerLinkActive="active">Nahrát otisk</a>
      </li>
    </ul>
    <ul class="navbar-nav">
    <ng-template *ngIf="isLoggedIn$ | async as loggedIn; then logged else annonymous"></ng-template>
      <ng-template #logged>
        <li class="nav-item">
          <a class="nav-link" routerLink="manage" routerLinkActive="active">Spravovat otisky</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/logout">Odhlásit se</a>
        </li>
      </ng-template>
      <ng-template #annonymous>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/signin" routerLinkActive="active">Přihlásit se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/signup" routerLinkActive="active">Registrovat</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
